@tailwind base;
@tailwind components;
@tailwind utilities;

.input-no-outline {
  outline: none;
}

body {
  background-color: #fdf8f0;
}

.blur {
  filter: blur(10px);
  transition: filter 0.3s ease-out;
}

.center-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}
